@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Giriş engellendi";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Buraya erişim yetkini yoktur.</p>
</header>
