@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Kayıt onayı";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Bu site henüz mail gönderme sistemine sahip değildir, <a href="https://aka.ms/aspaccountconf">Buradan</a> nasıl sistemin kurulacağını öğrenebilirsiniz.
    Normalde emaille gönderilmiş olmalıydı: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Hesabınızı doğrulamak için buraya basın.</a>
</p>
    }
    else
    {
<p>
        Lütfen hesabınızı doğrulamak için emailinizi kontrol edin.
</p>
    }
}
