@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifre sıfırlama onayı";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreniz değişti. Lütfen <a asp-page="./Login">girişi çin buraya tıklayın</a>.
</p>
